#!/bin/bash
yum update -y
yum install -y nginx
systemctl start nginx
systemctl enable nginx

echo "<h1>WELCOME TO SERVER4 CONFIGURATION</h1>" > /usr/share/nginx/html/index.html
echo "DEV ENV USER DATA EXECUTED" > /tmp/dev-proof.txt

